HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
### Logs ###
*.log
logs/
/logs/

# macOS metadata
.DS_Store
docs

# === [DEKK Security & Environments] ===
# 환경변수 파일
.env

# Spring Boot 민감한 설정 파일
src/main/resources/application-prod.yml
src/main/resources/application-dev.yml

# yml 파일 이름에 secret이나 prod가 들어간다면 패턴으로 모두 무시
*secret*.yml
*prod*.yml
